<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<meta charset="utf-8">
<title>RideClub</title>
<!-- CSS -->

<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/icons.css" type="text/css" media="screen" />
<!-- ENDS CSS -->	
</head>
.
<body>
<!-- HEADER -->
<div id="header">
<!-- wrapper-header -->
<div class="wrapper">
<a href="index.html"><img id="logo" src="img/logo.png" alt="RideClub" /></a>
<!--Search-->
</div>
<!-- ENDS wrapper-header -->	
</div>
<!-- ENDS HEADER -->
<!-- Menu -->
<div id="menu">
<!-- ENDS menu-holder -->
<div id="menu-holder">
<!-- wrapper-menu -->
<div class="wrapper">
<!-- Navigation -->
<ul id="nav" class="sf-menu">
<li><a href="tutorial.html">Home<span class="subheader"> Welcome</span></a></li>
<li><a href="features.html">Features<span class="subheader"> Learn more here!</span></a>
<!--
<ul>
<li><a href="features-call_a_ride.html"><span> Columns layout</span></a></li>
<li><a href="features-friends.html"><span> Accordion</span></a></li>
<li><a href="features-how_to.html"><span> Toggle box</span></a></li>
</ul>
-->
</li>
<li><a href="contact.html">Contact<span class="subheader"> (Give us feedback!)</span></a></li>
</ul>
<!-- Navigation -->
</div>
<!-- wrapper-menu -->
</div>
<!-- ENDS menu-holder -->
</div>
<!-- ENDS Menu -->











<!-- MAIN -->
<div id="main">
<!-- wrapper-main -->
<div class="wrapper">
<!-- shadow -->
<div class="aesthetic-shadow">
<!-- aesthetic-thumb -->
<div class="aesthetic-thumbnail">
<!-- meta -->
<ul class="meta">




<!-- This will messily display all of the tweets on the page. 

Twitter should go here? 

<%=stringTw%>

 This will messily display all of the tweets on the page. -->







<h1><b>Map1</b></h1>
<h2>
<li><strong><%=fakeTwitter[0].name%>: </strong><%=fakeTwitter[0].text%></li>
<li><strong>Lat:</strong> <%=fakeTwitter[0].lat%></li>
<li><strong>Lon:</strong> <%=fakeTwitter[0].lon%></li>


</h2>
</ul>
<button onclick="map1.locate({setView: true, maxZoom: 16});">Get Location</button>
<!-- ENDS meta -->
<!--
<a href="aesthetic.html" class="cover"><img src="NULL" alt="Map-Goes-HERE" /></a>
-->
</div>
<!-- ENDS aesthetic-thumb -->
<!-- leaflet test stuff -->
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<div id="map1">
<style>
#map1 { height: 400px; }
</style>
<script>
var map1 = L.map('map1').setView([<%=fakeTwitter[0].lat%>, <%=fakeTwitter[0].lon%>], 18);
L.tileLayer('http://otile1.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', {
attribution: '&copy; <a href="http://osm.org/copyright">OSM</a> and mapquest'
}).addTo(map1);

map1.on('locationfound', onLocationFound);

function onLocationFound(e) {
    var radius = e.accuracy / 2;

    L.marker(e.latlng).addTo(map1)
        .bindPopup("You are within " + radius + " meters from this point").openPopup();

    L.circle(e.latlng, radius).addTo(map1);
}
    L.marker([<%=fakeTwitter[0].lat%>, <%=fakeTwitter[0].lon%>]).addTo(map1)
        .bindPopup("<%=fakeTwitter[0].name%>").openPopup();


map1.on('locationfound', onLocationFound);
</script>



<h1><%=test%></h1>


</div>



</div>
</div>

<!-- ENDS shadow -->
</div>


<!-- MAIN -->
<div id="main">
<!-- wrapper-main -->
<div class="wrapper">
<!-- shadow -->
<div class="aesthetic-shadow">
<!-- aesthetic-thumb -->
<div class="aesthetic-thumbnail">
<!-- meta -->
<ul class="meta">



<!-- This will messily display all of the tweets on the page.

Twitter should go here? 

<%=stringTw%>

This will messily display all of the tweets on the page. -->







<h1><b>Map2</b></h1>
<h2>
<li><strong><%=fakeTwitter[1].name%>: </strong><%=fakeTwitter[1].text%></li>
<li><strong>Lat:</strong> <%=fakeTwitter[1].lat%></li>
<li><strong>Lon:</strong> <%=fakeTwitter[1].lon%></li>


</h2>
</ul>
<button onclick="map2.locate({setView: true, maxZoom: 16});">Get Location</button>
<!-- ENDS meta -->
<!--
<a href="aesthetic.html" class="cover"><img src="NULL" alt="Map-Goes-HERE" /></a>
-->
</div>
<!-- ENDS aesthetic-thumb -->
<!-- leaflet test stuff -->
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<div id="map2">
<style>
#map2 { height: 400px; }
</style>
<script>
var map2 = L.map('map2').setView([<%=fakeTwitter[1].lat%>, <%=fakeTwitter[1].lon%>], 18);
L.tileLayer('http://otile1.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', {
attribution: '&copy; <a href="http://osm.org/copyright">OSM</a> and mapquest'
}).addTo(map2);

map2.on('locationfound', onLocationFound);

function onLocationFound(e) {
    var radius = e.accuracy / 2;

    L.marker(e.latlng).addTo(map2)
        .bindPopup("You are within " + radius + " meters from this point").openPopup();

    L.circle(e.latlng, radius).addTo(map2);
}
    L.marker([<%=fakeTwitter[1].lat%>, <%=fakeTwitter[1].lon%>]).addTo(map2)
        .bindPopup("<%=fakeTwitter[1].name%>").openPopup();


map2.on('locationfound', onLocationFound);
</script>



<h1><%=test%></h1>


</div>



</div>
</div>

<!-- ENDS shadow -->
</div>


<!-- MAIN -->
<div id="main">
<!-- wrapper-main -->
<div class="wrapper">
<!-- shadow -->
<div class="aesthetic-shadow">
<!-- aesthetic-thumb -->
<div class="aesthetic-thumbnail">
<!-- meta -->
<ul class="meta">




<!-- This will messily display all of the tweets on the page.

Twitter should go here? 

<%=stringTw%>

 This will messily display all of the tweets on the page. -->







<h1><b>Map3</b></h1>
<h2>
<li><strong><%=fakeTwitter[2].name%>: </strong><%=fakeTwitter[2].text%></li>
<li><strong>Lat:</strong> <%=fakeTwitter[2].lat%></li>
<li><strong>Lon:</strong> <%=fakeTwitter[2].lon%></li>


</h2>
</ul>
<button onclick="map3.locate({setView: true, maxZoom: 16});">Get Location</button>
<!-- ENDS meta -->
<!--
<a href="aesthetic.html" class="cover"><img src="NULL" alt="Map-Goes-HERE" /></a>
-->
</div>
<!-- ENDS aesthetic-thumb -->
<!-- leaflet test stuff -->
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<div id="map3">
<style>
#map3 { height: 400px; }
</style>
<script>
var map3 = L.map('map3').setView([<%=fakeTwitter[2].lat%>, <%=fakeTwitter[2].lon%>], 18);
L.tileLayer('http://otile1.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', {
attribution: '&copy; <a href="http://osm.org/copyright">OSM</a> and mapquest'
}).addTo(map3);

map3.on('locationfound', onLocationFound);

function onLocationFound(e) {
    var radius = e.accuracy / 2;

    L.marker(e.latlng).addTo(map3)
        .bindPopup("You are within " + radius + " meters from this point").openPopup();

    L.circle(e.latlng, radius).addTo(map3);
}
    L.marker([<%=fakeTwitter[2].lat%>, <%=fakeTwitter[2].lon%>]).addTo(map3)
        .bindPopup("<%=fakeTwitter[2].name%>").openPopup();


map3.on('locationfound', onLocationFound);
</script>



<h1><%=test%></h1>


</div>



</div>
</div>

<!-- ENDS shadow -->
</div>

<!-- ENDS aesthetic -->
<!-- aesthetic -->
<div class="aesthetic">

<!-- shadow -->
<div class="aesthetic-shadow">
<!-- aesthetic-thumb -->
<div class="aesthetic-thumbnail">
<!-- meta -->
<ul class="meta">

</ul>
<!-- ENDS meta -->
</body>
</html>